# REMOVE COMMENTS WHEN COPY THIS FILE AND TRIM TRAILING WHITESPACES
# Ask the team for recommended values

# DOCKER VARIABLES FOR AUTOMATION
SUDO=sudo                                               # <- how local user executes system commands - leave it empty if not necessary ----------------------> #
DOCKER=sudo docker                                      # <- how local user executes Docker commands --------------------------------------------------------> #
DOCKER_COMPOSE=sudo docker compose                      # <- how local user executes "docker compose" or docker-compose command -----------------------------> #

# CONTAINERS BASE INFORMATION FOR BUILDING WITH docker-compose.yml
PROJECT_NAME="PLATFORMS DOCKER"                         # <- project name will be used for automation outputs -----------------------------------------------> #
PROJECT_LEAD=abbr                                       # <- abbreviation or acronym name as part of the container tag that is useful relationship naming ---> #
PROJECT_HOST="127.0.0.1"                                # <- machine hostname referrer - not necessary for this project -------------------------------------> #
PROJECT_CNET=mp-dev                                     # <- useful when a network is required for container connections between each other -----------------> #

# WEBAPP - LOCAL
WEBAPP_PLTF=nginx-nodejs-25                             # <- platform assets directory's name ---------------------------------------------------------------> #
WEBAPP_IMGK=alpine3.23-nginx-nodejs25                   # <- real main image keys to manage automations for sharing resources -------------------------------> #
WEBAPP_PORT=7001                                        # <- local machine port opened for container service ------------------------------------------------> #
WEBAPP_BIND="../../../application"                      # <- path where application is binded from container to local ---------------------------------------> #
WEBAPP_CAAS=mp-app-dev                                  # <- container name to build the service - it is important to set the environment in this variable --> #
WEBAPP_CAAS_USER=osuser                                 # <- container's project directory user -------------------------------------------------------------> #
WEBAPP_CAAS_GROUP=osgroup                               # <- container's project directory group ------------------------------------------------------------> #
WEBAPP_CAAS_CPUS=2.00                                   # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
WEBAPP_CAAS_MEM=128M                                    # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
WEBAPP_CAAS_SWAP=512M                                   # <- container's RAM swap space in storage executed by automation command ---------------------------> #
